* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: auto;
}

/* HEADER */
.header {
  background: #385A64;
  height: 100px;
  display: flex;
  justify-content: space-around;
}

.username {
  position: absolute;
  width: 487px;
  height: 65.44px;
  left: 162px;
  top: 17px;
  justify-content: space-around;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: #F0F0F0;
  padding-left: 70px;
}



/* HERO */
.hero {
  width: 100%;

}

.container {
  padding-top: 80px;

}

.hero__wrapper {
  display: flex;
  justify-content: space-around;
  width: 1116px;
  height: 564px;

}

.hero__content {}

.hero__image {}

.hero__image img {
  width: 442px;
  height: 442px;
  left: 836px;
  top: 200px;
}

.hero__title {

  width: 487px;
  height: 65.44px;
  left: 162px;
  top: 246px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;

}

span {
  color: #ff735c;
}

.hero__description {
  width: 487px;
  height: 155.71px;
  left: 162px;
  top: 343.04px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */

  color: #000000;
}

.hero__actions {
  width: 170px;
  height: 62.06px;
  left: calc(50% - 170px/2 - 473px);
  top: calc(50% - 62.06px/2 - 155.53px);

  background: #385A64;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

/* LOCATION */
.location {
  width: 100%;
  background: #ffffff;
  border: 2px solid #f0f0f0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  min-height: 100px;
}

.location__content {
  padding: 10px 0;
}

.location__title {
  color: #ff735c;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;

}

.location__cards {}

/* FOOTER */
.footer {

  top: 1409px font-family Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  width: 1780px;
  height: 40px;
  padding-top: 15px;
  color: #0C0F53;
}

/* BUTTON COMPONENT */
.btn {
  border-radius: 5px;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #ffffff;
  background: #ffffff;
  transition: 250ms;
  background-color: #385a64;
  font-size: 18px;
  line-height: 21px;
}

/* CARD COMPONENT */
.card {
  width: 100%;
  padding: 20px 0;
  display: flex;
  padding-top: 40px;
  justify-content: space-around;

}

.card__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 90px;
  padding: 75px 30px 30px 30px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  position: relative;
  width: 313px;
}

.card__header {
  position: absolute;
  top: -90px;
  height: 150px;
  width: 150px;
  background-color: #e9f5f3;
  border-radius: 50%;
}

.card__header img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

.card__point {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 90px;
  top: 0px;
  background-color: #ff735c;
  border: 3px solid rgba(255, 255, 255, 0.45);
  border-radius: 50%;
}

.card__point span {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
}

.card__title {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #e9f5f3;
}

.card__description {
  padding-top: 10px;
  font-size: 14px;
  line-height: 24px;
}

/* RESPONSIVE */
@media only screen and (max-width: 375px) {
  .header {
    width: 100%;
    text-align: center;

  }

  .hero__image img {
    width: 300px;
    height: 300px;
  }

  .hero__wrapper {
    display: flex;
    justify-content: space-around;
    width: 1116px;
    height: 564px;
    flex-direction: column-reverse;

  }

  .card {
    display: flex;
    flex-direction: column;

  }

  .hero__description {
    width: 304px;
    height: 154px;
  }

  .hero__title {
    font-size: 40px;
  }
}